.containt_register {
  height: 100vh;

  width: 100%;
  min-width: 350px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Title-pokedex {
  height: 20%;
  width: 80%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
.greet_coach {
  color: #fe1936;
  font-size: 4rem;
}
.text_for-trainer {
  color: black;
  font-size: 1.5rem;
  padding-bottom: 3.5em;
  text-align: center;
}
.form_trainer {
  padding-bottom: 10em;
}
.input_trainer {
  background-color: rgb(235, 218, 218);
  font-size: 1.4rem;
  border: none;
  box-shadow: -6px -6px 12px -4px rgba(0, 0, 0, 0.69);
  border-radius: 10px;
}
.button_trainer {
  border-radius: 10px;
  background-color: #d93f3f;
  font-size: 1rem;
  padding: 0.5em;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: -1px -1px 12px -4px rgba(0, 0, 0, 0.69);
}
.footer_register {
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0em;
}
.div_red-footer {
  width: 100%;
  height: 70%;
  background-color: #dd1a1a;
}

.div_black-footer {
  width: 100%;
  height: 30%;
  background-color: #0c0c0c;
}
.circle_footer {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 37%;
  border-radius: 50%;
  border: 15px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle_in-the-footer {
  width: 40%;
  height: 40%;
  background-color: #212121;
  border-radius: 50%;
  border: 15px solid;
}
@media (min-width: 900px) {
  .circle_footer {
    left: 45%;
  }
  .Title-pokedex {
    width: 1000px;
  }
  .input_trainer {
    padding-right: 8em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
}
